/target/
/.idea/
/jndc_server/target/
/jndc_server/jndc_server.iml
/jndc_server/src/main/java/jndc_server/exmaple/config_file/jnc_db.db
/jndc_core/target/
/jndc_client/target/
/log/
/CLIENT_ID
/jndc_client/src/main/java/jndc_client/exmaple/config_file/
/jndc_client/src/main/resources/client_id
/jndc_client/jndc_client.iml
/jndc_client/src/main/java/jndc_client/exmaple/config_file/client_id
/jndc_core/jndc_core.iml
jndc.iml
sonar.bat
output.log
jndc.iml
/jndc_frontend/package-lock.json
/jndc_frontend/node_modules/
/jndc_frontend/jndc_frontend.iml
/jndc_frontend/node/
/jndc_frontend/compare_dist/
/jndc_server/src/main/resources/compare_dist/
/jndc_frontend/target/
/jndc_server/jndc-server-frontend/jndc-server-frontend.iml
/jndc_server/jndc-server-backend/jndc-server-backend.iml
/jndc_client/jndc-client-frontend/jndc-client-frontend.iml
/jndc_client/jndc-client-backend/jndc-client-backend.iml
/jndc_server/jndc-server-frontend/package-lock.json
/jndc_server/jndc-server-backend/target/
/jndc_server/jndc-server-frontend/node/
/jndc_server/jndc-server-frontend/node_modules/
/jndc_server/jndc-server-frontend/target/
/jndc_client/jndc-client-frontend/package-lock.json
/jndc_client/jndc-client-frontend/node/
