<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.view.dao.mapper.SysUserRoleMapper">

    <resultMap type="com.view.dao.entity.SysUserRole" id="SysUserRoleMap">
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
    </resultMap>


</mapper>

